flows_raspberrypi.json
[{"id":"abe36278.d3a5e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bba2a18.8909e6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"74da2751.d53e68","type":"ui_group","z":"","name":"Default","tab":"bba2a18.8909e6","disp":true,"width":"6","collapse":false},{"id":"a47787da.8ee178","type":"inject","z":"abe36278.d3a5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":160,"wires":[["6951b9d2.ef88a8"]]},{"id":"774f278d.55bcf8","type":"ui_text","z":"abe36278.d3a5e","group":"74da2751.d53e68","order":0,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":160,"wires":[]},{"id":"6951b9d2.ef88a8","type":"change","z":"abe36278.d3a5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":160,"wires":[["774f278d.55bcf8"]]}]