flows_raspberrypi.json
[{"id":"abe36278.d3a5e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9648297c.564688","type":"tab","label":"Databases","disabled":false,"info":""},{"id":"64c3c505.631b7c","type":"tab","label":"Website","disabled":false,"info":""},{"id":"3bd1ba7.f516946","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d2b7de10.e07f8","type":"sqlitedb","z":"","db":"/home/pi/reference.db","mode":"RWC"},{"id":"667529e2.c47648","type":"sqlitedb","z":"","db":"/home/pi/data.db","mode":"RWC"},{"id":"de56088c.1cb958","type":"debug","z":"abe36278.d3a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":380,"wires":[]},{"id":"ae2cfd14.bf776","type":"mqtt in","z":"abe36278.d3a5e","name":"","topic":"sensors/temperature/+","qos":"2","datatype":"auto","broker":"3bd1ba7.f516946","x":300,"y":340,"wires":[["8d8e860f.f7a2f8"]]},{"id":"937c939f.895a2","type":"mqtt in","z":"abe36278.d3a5e","name":"","topic":"discovery/client","qos":"2","datatype":"auto","broker":"3bd1ba7.f516946","x":280,"y":100,"wires":[["88b485e3.543498"]]},{"id":"26487cb6.3e6f94","type":"mqtt out","z":"abe36278.d3a5e","name":"","topic":"discovery/server","qos":"","retain":"","broker":"3bd1ba7.f516946","x":1060,"y":100,"wires":[]},{"id":"88b485e3.543498","type":"switch","z":"abe36278.d3a5e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"dht","vt":"str"},{"t":"cont","v":"bme","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":100,"wires":[["cbb275ab.d0f598"],["b7f3f00c.36853"]]},{"id":"b7f3f00c.36853","type":"function","z":"abe36278.d3a5e","name":"save bme in db","func":"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["cd0620d0.86d01"]]},{"id":"cbb275ab.d0f598","type":"function","z":"abe36278.d3a5e","name":"save dht in db","func":"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":80,"wires":[["1b21c8e3.7806f7"]]},{"id":"cd0620d0.86d01","type":"change","z":"abe36278.d3a5e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"bme","fromt":"str","to":"No2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":120,"wires":[["26487cb6.3e6f94"]]},{"id":"1b21c8e3.7806f7","type":"change","z":"abe36278.d3a5e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"dht","fromt":"str","to":"No1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":80,"wires":[["26487cb6.3e6f94"]]},{"id":"e5854684.4d7068","type":"comment","z":"abe36278.d3a5e","name":"Discovery of new sensors template","info":"","x":340,"y":60,"wires":[]},{"id":"67221d24.687c74","type":"sqlite","z":"9648297c.564688","mydb":"d2b7de10.e07f8","sqlquery":"fixed","sql":"INSERT INTO sensactref(name, types)\n    select 'DHT11' as name, 'TH' as types\n    union select 'BME280' as name, 'THP' as types\n    union select 'HCSR501' as name, 'M' as types\n    union select 'Button' as name, 'B' as types\n    union select 'TSL2561' as name, 'L' as types\n    union select 'HCSR04' as name, 'D' as types\n    union select 'CCS811' as name, 'CV' as types\n    union select 'MAX44009' as name, 'L' as types\n    union select 'MPU6050' as name, 'GA' as types\n    union select 'VEML6070' as name, 'U' as types\n    union select 'SI1145' as name, 'U' as types\n    union select 'MPR121' as name, 'E' as types\n    union select 'BMP280' as name, 'THPV' as types\n    union select 'TX20' as name, 'W' as types;","name":"fill reference.db table","x":360,"y":80,"wires":[["2f35eea0.f222e2"]]},{"id":"9aadd5db.cb9728","type":"comment","z":"9648297c.564688","name":"Use only for initial filling","info":"","x":360,"y":40,"wires":[]},{"id":"24ae0c5b.1e48a4","type":"comment","z":"9648297c.564688","name":"Aktoren fehlen noch - Namen und Typen 체berpr체fen","info":"","x":370,"y":140,"wires":[]},{"id":"9ec291d1.7e545","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["67221d24.687c74"]]},{"id":"2f35eea0.f222e2","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":80,"wires":[]},{"id":"4fccbbc0.5d6064","type":"sqlite","z":"9648297c.564688","mydb":"d2b7de10.e07f8","sqlquery":"fixed","sql":"\nSELECT * FROM sensactref;","name":"select * from reference table","x":360,"y":220,"wires":[["8274c144.76294","52e12fe8.da81a"]]},{"id":"23205fb0.5628d","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["4fccbbc0.5d6064"]]},{"id":"8274c144.76294","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":220,"wires":[]},{"id":"5d0dc0ee.9fc8e","type":"sqlite","z":"9648297c.564688","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"INSERT INTO connections(IP, refid, category, types, curunit, curinterval, dispname, status, islogged, isnotifying) VALUES();","name":"exec msg.topic","x":780,"y":480,"wires":[["fec40cb8.a9607"]]},{"id":"c91e0e59.be0e2","type":"function","z":"9648297c.564688","name":"msg parts to topic","func":"var ip = msg.ip;\nvar ref = msg.refId;\nvar cat = msg.category;\nvar type = msg.types;\nvar curunit = msg.curunit;\nvar curinterval = msg.curinterval;\nvar dispname = msg.dispname;\nvar status = msg.refStatus;\nvar isLogged = msg.isLogged;\nvar isNotifying = msg.isNotifying;\n\nmsg.topic = \"INSERT INTO connections(IP, refid, category, types, curunit, curinterval, dispname, status, islogged, isnotifying) VALUES('\" + ip + \"', \" + ref + \", '\" + cat + \"', '\" + type + \"', '\" + curunit + \"', \" + curinterval + \", '\" + dispname + \"', '\" + status + \"', \" + isLogged + \", \" + isNotifying + \");\";\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["5d0dc0ee.9fc8e"]]},{"id":"72ed12f4.07468c","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["c66d6b03.92d128"]]},{"id":"fec40cb8.a9607","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":480,"wires":[]},{"id":"c66d6b03.92d128","type":"change","z":"9648297c.564688","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.1.3","tot":"str"},{"t":"set","p":"refId","pt":"msg","to":"100100201","tot":"str"},{"t":"set","p":"category","pt":"msg","to":"sensor","tot":"str"},{"t":"set","p":"types","pt":"msg","to":"DHT11","tot":"str"},{"t":"set","p":"curunit","pt":"msg","to":"CP","tot":"str"},{"t":"set","p":"curinterval","pt":"msg","to":"2000","tot":"num"},{"t":"set","p":"dispname","pt":"msg","to":"Badsensor","tot":"str"},{"t":"set","p":"refStatus","pt":"msg","to":"connected","tot":"str"},{"t":"set","p":"isLogged","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"isNotifying","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[["c91e0e59.be0e2"]]},{"id":"52e12fe8.da81a","type":"link out","z":"9648297c.564688","name":"OUT select * from reference table","links":[],"x":575,"y":260,"wires":[]},{"id":"71403f62.82e7d","type":"link in","z":"9648297c.564688","name":"IN select * from reference table","links":[],"x":175,"y":260,"wires":[["4fccbbc0.5d6064"]]},{"id":"8d8e860f.f7a2f8","type":"function","z":"abe36278.d3a5e","name":"backup payload and extract refId","func":"msg.txpayload = msg.payload;\nmsg.payload = msg.topic.replace('sensors/temperature/','');\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["c9af79f3.2fd1d8","de56088c.1cb958"]]},{"id":"e7dda356.73405","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["271ae820.9c0d68"]]},{"id":"ad7f61b0.24a68","type":"comment","z":"9648297c.564688","name":"Add row to connections table","info":"","x":200,"y":440,"wires":[]},{"id":"b53022ea.9154d","type":"comment","z":"9648297c.564688","name":"Read all from connections table","info":"","x":210,"y":540,"wires":[]},{"id":"271ae820.9c0d68","type":"template","z":"9648297c.564688","name":"select * from connections","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM connections;","output":"str","x":350,"y":580,"wires":[["a569cdbe.7cc5f"]]},{"id":"a569cdbe.7cc5f","type":"sqlite","z":"9648297c.564688","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"","name":"exec msg.topic","x":780,"y":580,"wires":[["7a713194.c5536","c07a7b68.1a65b8"]]},{"id":"7a713194.c5536","type":"link out","z":"9648297c.564688","name":"OUT select * from connections","links":[],"x":915,"y":620,"wires":[]},{"id":"100fd53d.97c78b","type":"link in","z":"9648297c.564688","name":"IN select * from connections","links":[],"x":175,"y":620,"wires":[["271ae820.9c0d68"]]},{"id":"adbf6b66.232bf8","type":"template","z":"9648297c.564688","name":"select * where refId matching","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM connections WHERE refid = {{payload}};","output":"str","x":360,"y":720,"wires":[["82fefd45.5c76e"]]},{"id":"9c828dcc.9de2a","type":"comment","z":"9648297c.564688","name":"Read specific from connections table","info":"","x":220,"y":680,"wires":[]},{"id":"82fefd45.5c76e","type":"sqlite","z":"9648297c.564688","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"","name":"exec msg.topic","x":780,"y":720,"wires":[["f8bbdfbd.a488d","1a4cfcee.3fcf13"]]},{"id":"ae4c8f89.2505a","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"100100200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":720,"wires":[["adbf6b66.232bf8"]]},{"id":"b22f75e9.be4078","type":"link in","z":"9648297c.564688","name":"IN select * where refid matching","links":["c9af79f3.2fd1d8"],"x":175,"y":780,"wires":[["adbf6b66.232bf8"]]},{"id":"f8bbdfbd.a488d","type":"link out","z":"9648297c.564688","name":"OUT select * where refid matching","links":["54734feb.06789"],"x":915,"y":760,"wires":[]},{"id":"1a4cfcee.3fcf13","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":720,"wires":[]},{"id":"c07a7b68.1a65b8","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":580,"wires":[]},{"id":"c9af79f3.2fd1d8","type":"link out","z":"abe36278.d3a5e","name":"OUT sensors/temperature","links":["b22f75e9.be4078"],"x":775,"y":340,"wires":[]},{"id":"54734feb.06789","type":"link in","z":"abe36278.d3a5e","name":"IN sensors/temperature","links":["f8bbdfbd.a488d"],"x":255,"y":420,"wires":[["2374d383.443f3c"]]},{"id":"2374d383.443f3c","type":"change","z":"abe36278.d3a5e","name":"rearrange msg properties","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[0].refid","tot":"msg"},{"t":"set","p":"clientinfo","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"txpayload","tot":"msg"},{"t":"delete","p":"txpayload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":420,"wires":[["fda94a7a.488418"]]},{"id":"b4ac9552.95c4f8","type":"comment","z":"64c3c505.631b7c","name":"Anleitung","info":"https://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Getting-Started\n","x":1120,"y":120,"wires":[]},{"id":"8762f095.8167c","type":"debug","z":"64c3c505.631b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":120,"wires":[]},{"id":"451485a4.eab36c","type":"uibuilder","z":"64c3c505.631b7c","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"template":"","filename":"uibuilder.appcache","format":"text","x":1120,"y":160,"wires":[["8762f095.8167c"],["788e773c.8fb308","f771d26d.6d3f9"]]},{"id":"c9c6bfbf.46ff5","type":"link in","z":"64c3c505.631b7c","name":"IN uibuilder","links":[],"x":1075,"y":40,"wires":[["451485a4.eab36c"]]},{"id":"621008f.0d01cf8","type":"sqlite","z":"9648297c.564688","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"SELECT * FROM T_100100200;","name":"","x":790,"y":920,"wires":[["fa238386.09169","178930ef.bdb96f"]]},{"id":"8c6e13e9.7cbd6","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":920,"wires":[["96759ab.2a65d68"]]},{"id":"fa238386.09169","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":920,"wires":[]},{"id":"e63b5918.aeb0b8","type":"function","z":"9648297c.564688","name":"","func":"msg.payload = \"2019-05-15 09:22:23\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1360,"wires":[["d1da65a1.5e6258"]]},{"id":"53f05fbd.4c59c","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1340,"wires":[["e63b5918.aeb0b8"]]},{"id":"ef95b153.7e257","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":1340,"wires":[]},{"id":"d1da65a1.5e6258","type":"moment","z":"9648297c.564688","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"de_DE","output":"payload","outputType":"msg","outTz":"Europe/Berlin","x":540,"y":1340,"wires":[["ef95b153.7e257"]]},{"id":"8681fa2d.7f7118","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1420,"wires":[["d1da65a1.5e6258"]]},{"id":"442a6f74.c410d","type":"comment","z":"9648297c.564688","name":"nochmal ansehen: wichtig f체r Graphen","info":"","x":230,"y":1300,"wires":[]},{"id":"8c456ab2.f6c278","type":"comment","z":"9648297c.564688","name":"Write new value into T_<refid> table","info":"","x":220,"y":880,"wires":[]},{"id":"ca09667a.f409e8","type":"template","z":"9648297c.564688","name":"insert into T_<refId> new row","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO T_{{topic}}(time, value) VALUES({{time}}, {{payload}});","output":"str","x":540,"y":920,"wires":[["621008f.0d01cf8","d03bb2c2.dcd5c"]]},{"id":"b12b7392.382ab","type":"debug","z":"abe36278.d3a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":480,"wires":[]},{"id":"96759ab.2a65d68","type":"change","z":"9648297c.564688","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"20.9","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"100100200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":920,"wires":[["ca09667a.f409e8"]]},{"id":"d03bb2c2.dcd5c","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":610,"y":1000,"wires":[]},{"id":"ffa98f8e.096be","type":"sqlite","z":"9648297c.564688","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"SELECT * FROM T_100100200;","name":"","x":790,"y":1060,"wires":[["bf6ce7da.b793b8"]]},{"id":"df9de346.cdfb5","type":"comment","z":"9648297c.564688","name":"Read values from T_<refId> table","info":"","x":210,"y":1020,"wires":[]},{"id":"d2d2eb2e.f22708","type":"inject","z":"9648297c.564688","name":"","topic":"100100200","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1060,"wires":[["b100b7ff.a86208"]]},{"id":"b100b7ff.a86208","type":"template","z":"9648297c.564688","name":"select * from T_<refId>","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM T_{{topic}};","output":"str","x":560,"y":1060,"wires":[["ffa98f8e.096be"]]},{"id":"bf6ce7da.b793b8","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":1060,"wires":[]},{"id":"6603e3fb.95945c","type":"link in","z":"9648297c.564688","name":"IN insert into T_<refId>","links":["a4dd08cb.c04028"],"x":175,"y":960,"wires":[["ca09667a.f409e8"]]},{"id":"178930ef.bdb96f","type":"link out","z":"9648297c.564688","name":"OUT insert into T_<refId>","links":[],"x":935,"y":960,"wires":[]},{"id":"a4dd08cb.c04028","type":"link out","z":"abe36278.d3a5e","name":"OUT sensors/temperature arranged","links":["6603e3fb.95945c"],"x":775,"y":540,"wires":[]},{"id":"2927061a.b1beea","type":"comment","z":"abe36278.d3a5e","name":"Hier Zeit generieren","info":"","x":670,"y":480,"wires":[]},{"id":"fda94a7a.488418","type":"change","z":"abe36278.d3a5e","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":520,"wires":[["a4dd08cb.c04028","b12b7392.382ab"]]},{"id":"4f76da8b.b685b4","type":"debug","z":"64c3c505.631b7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":120,"wires":[]},{"id":"788e773c.8fb308","type":"debug","z":"64c3c505.631b7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":160,"wires":[]},{"id":"3a64a7b8.378fe8","type":"uibuilder","z":"64c3c505.631b7c","name":"","topic":"","url":"deviceoverview","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"template":"","filename":"index.html","format":"text","x":380,"y":740,"wires":[[],[]]},{"id":"b3315e46.18a65","type":"uibuilder","z":"64c3c505.631b7c","name":"","topic":"","url":"devicesettings","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"template":"","filename":"index.html","format":"text","x":380,"y":800,"wires":[[],[]]},{"id":"f771d26d.6d3f9","type":"link out","z":"64c3c505.631b7c","name":"OUT uibuilder ctrl","links":["b34d632c.33631"],"x":1295,"y":200,"wires":[]},{"id":"b34d632c.33631","type":"link in","z":"64c3c505.631b7c","name":"IN uibuilder ctrl","links":["f771d26d.6d3f9"],"x":35,"y":60,"wires":[["c3a3b75c.dc7538"]]},{"id":"c3a3b75c.dc7538","type":"switch","z":"64c3c505.631b7c","name":"ui ctrl","property":"uibuilderCtrl","propertyType":"msg","rules":[{"t":"eq","v":"client connect","vt":"str"},{"t":"eq","v":"ready for content","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":130,"y":60,"wires":[["23ba3661.406f5a"],["23ba3661.406f5a"],["5426df27.57377"]]},{"id":"5426df27.57377","type":"debug","z":"64c3c505.631b7c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":270,"y":100,"wires":[]},{"id":"23ba3661.406f5a","type":"change","z":"64c3c505.631b7c","name":"","rules":[{"t":"delete","p":"uibuilderCtrl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[["a7197f1c.4084c"]]},{"id":"c44c4a6a.4b7f08","type":"comment","z":"64c3c505.631b7c","name":"Autosending on page load","info":"ctrl messages from uibuilder node are analysed.\n\nIf page is (re)loading, the flow downwards is triggered.\n\nSee here:\nhttps://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/How-to-send-data-when-a-client-connects-or-reloads-the-page","x":190,"y":20,"wires":[]},{"id":"a50781fb.ccf4a","type":"uibuilder","z":"64c3c505.631b7c","name":"","topic":"","url":"dashboard","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"template":"","filename":"index.html","format":"text","x":370,"y":680,"wires":[[],[]]},{"id":"5d3da70c.38d698","type":"comment","z":"64c3c505.631b7c","name":"different tabs in different nodes","info":"","x":390,"y":640,"wires":[]},{"id":"e19cb8cd.5ded68","type":"comment","z":"64c3c505.631b7c","name":"Ablauf Zuordnung Dashboard mit db","info":"1. db read -> all IDs, all rows and cols\n2. analyse IDs, extract sensorID and measuring type\n3. check (in db) how many data points should be shown\n4. db read -> last x data points","x":700,"y":20,"wires":[]},{"id":"9795be69.5e297","type":"function","z":"64c3c505.631b7c","name":"","func":"var temp = {\n    title: \"Humidity history\",\n    times: [1558121936, 1558121937, 1558121938, 1558121939, 1558121940],\n    data: [30, 31, 32.7, 30.2, 29.4]\n};\n\n\n\n\nmsg.chart = temp;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[[]]},{"id":"b04aa1bd.b7e8f","type":"sqlite","z":"64c3c505.631b7c","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"","name":"","x":810,"y":60,"wires":[["ca1c26f0.dc9a18"]]},{"id":"a7197f1c.4084c","type":"template","z":"64c3c505.631b7c","name":"select * from uilayout","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from uilayout;","output":"str","x":600,"y":60,"wires":[["b04aa1bd.b7e8f"]]},{"id":"ca1c26f0.dc9a18","type":"function","z":"64c3c505.631b7c","name":"sort layout data","func":"msg.dashboardData = [];\n\nmsg.payload.forEach(function(item, index) {\n    var htmlId = item.htmlid;\n    var gridRow = item.gridrow;\n    var gridCol = item.gridcol;\n    \n    var uiType = htmlId.split(\"-\")[0];\n    var measType = htmlId.split(\"-\")[1];\n    var deviceId = htmlId.split(\"-\")[2];\n    \n    msg.dashboardData.push({\n        htmlId : htmlId,\n        gridRow : gridRow,\n        gridCol : gridCol,\n        uiType : uiType,\n        measType : measType,\n        deviceId : deviceId\n    });\n\n});\n\nmsg.payload = msg.dashboardData;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":120,"wires":[["28b9abe8.1f6f84"]]},{"id":"25243793.9c5f58","type":"sqlite","z":"64c3c505.631b7c","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"","name":"","x":590,"y":240,"wires":[["74549113.8cd55"]]},{"id":"86f97d9d.c0737","type":"debug","z":"64c3c505.631b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":420,"wires":[]},{"id":"28b9abe8.1f6f84","type":"function","z":"64c3c505.631b7c","name":"forEach send select showndatapoints where refId matching","func":"msg.dashboardData.forEach(function(e) {\n    if (e.htmlId.includes(\"chart\")) {\n        node.send({\n        \"topic\": \"select showndatapoints from connections where refid = \" + e.deviceId.toString() + \";\",\n        \"dashboardData\": msg.dashboardData,\n        \"_socketId\": msg._socketId\n        });\n    }\n});\n//return msg;","outputs":1,"noerr":0,"x":720,"y":180,"wires":[["25243793.9c5f58","4f76da8b.b685b4"]]},{"id":"74549113.8cd55","type":"function","z":"64c3c505.631b7c","name":"include shownDataPoints in dashboardData","func":"//extract device id from sql query / topic\nvar deviceId = msg.topic.split(\"= \")[1].split(\";\")[0];\n\nmsg.dashboardData.forEach(function(e) {\n    if (e.htmlId.includes(\"chart\") && e.htmlId.includes(deviceId)) {\n        e.shownDataPoints = msg.payload[0].showndatapoints;\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":240,"wires":[["34b6f494.3bb2bc"]]},{"id":"34b6f494.3bb2bc","type":"function","z":"64c3c505.631b7c","name":"forEach send select datapoints","func":"msg.dashboardData.forEach(function(e) {\n    var tempTopic = \"\";\n    \n    if (e.htmlId.includes(\"chart\")) {\n        if (e.htmlId.includes(\"Hum\")) {\n            tempTopic = \"select * from H_\"+ e.deviceId.toString() + \" order by id desc limit \" + e.shownDataPoints + \";\";\n        }\n        else if (e.htmlId.includes(\"Temp\")) {\n            tempTopic = \"select * from T_\"+ e.deviceId.toString() + \" order by id desc limit \" + e.shownDataPoints + \";\";\n        }\n        //add more for other measurement types\n        \n        \n        node.send({\n            \"topic\": tempTopic,\n            \"curItem\": e.htmlId,\n            \"dashboardData\": msg.dashboardData,\n            \"_socketId\": msg._socketId\n        });\n    }\n});\n\n//return msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["57a89905.7bab38"]]},{"id":"57a89905.7bab38","type":"sqlite","z":"64c3c505.631b7c","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"","name":"","x":890,"y":300,"wires":[["fa5f1583.ef8818"]]},{"id":"83bb930c.3c11b","type":"comment","z":"9648297c.564688","name":"Befehl zum Erstellen einer solchen Tabelle","info":"create table T_100100200(id integer not null primary key autoincrement, timehr text not null, timeunix integer not null, value real not null);","x":260,"y":1120,"wires":[]},{"id":"cff458e4.5140e8","type":"inject","z":"abe36278.d3a5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":760,"wires":[["735e30aa.de9ee"]]},{"id":"e98285c2.4af818","type":"debug","z":"abe36278.d3a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":760,"wires":[]},{"id":"735e30aa.de9ee","type":"moment","z":"abe36278.d3a5e","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"de_DE","output":"","outputType":"msg","outTz":"Europe/Berlin","x":460,"y":760,"wires":[["e98285c2.4af818"]]},{"id":"2a033b62.9583b4","type":"comment","z":"abe36278.d3a5e","name":"Beispiel Zeitkonvertierung unix -> hr","info":"","x":270,"y":720,"wires":[]},{"id":"fa5f1583.ef8818","type":"function","z":"64c3c505.631b7c","name":"include DataPoints in dashboardData","func":"var setLastItem = false;\n\nmsg.dashboardData.forEach(function(e, i) {\n    //check if incoming data is intended for this element\n    if (msg.curItem == e.htmlId) {\n        //reverse data from db and save in dashboardData object\n        e.DataPoints = msg.payload.reverse();\n        \n        \n        //check if this element is the last possible match\n        if (i == (msg.dashboardData.length -1)) {\n            setLastItem = true;\n        }\n    }\n});\n\nif (setLastItem) {\n    msg.payload = \"LastItem\";\n}\nelse {\n    msg.payload = \"\";\n}\n\nmsg.topic = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["86f97d9d.c0737"]]},{"id":"930ed6fe.9af0b8","type":"comment","z":"64c3c505.631b7c","name":"Was noch fehlt: Bei val-Element den letzten db-Wert anh채ngen","info":"","x":560,"y":420,"wires":[]}]