flows_raspberrypi.json
[{"id":"abe36278.d3a5e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9648297c.564688","type":"tab","label":"Databases","disabled":false,"info":""},{"id":"3bd1ba7.f516946","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"190e4995.b4a866","type":"sqlitedb","z":"","db":"/home/pi/test.db","mode":"RWC"},{"id":"d2b7de10.e07f8","type":"sqlitedb","z":"","db":"/home/pi/reference.db","mode":"RWC"},{"id":"667529e2.c47648","type":"sqlitedb","z":"","db":"/home/pi/data.db","mode":"RWC"},{"id":"ee351dfa.0d797","type":"comment","z":"abe36278.d3a5e","name":"Anleitung","info":"https://github.com/TotallyInformation/node-red-contrib-uibuilder/wiki/Getting-Started\n","x":540,"y":280,"wires":[]},{"id":"475486ba.dda5a8","type":"debug","z":"abe36278.d3a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":280,"wires":[]},{"id":"951011da.974b4","type":"inject","z":"abe36278.d3a5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":320,"wires":[["1d60663.8a1459a"]]},{"id":"ed01d3db.cb9cb","type":"comment","z":"abe36278.d3a5e","name":"Template für Dashboard bzw Navbar","info":"https://getbootstrap.com/docs/3.3/examples/dashboard/#","x":540,"y":400,"wires":[]},{"id":"1d60663.8a1459a","type":"uibuilder","z":"abe36278.d3a5e","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"template":"","filename":"index.html","format":"html","x":540,"y":320,"wires":[["475486ba.dda5a8"],[]]},{"id":"de56088c.1cb958","type":"debug","z":"abe36278.d3a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":520,"wires":[]},{"id":"ae2cfd14.bf776","type":"mqtt in","z":"abe36278.d3a5e","name":"","topic":"sensors/humidity/+","qos":"2","datatype":"auto","broker":"3bd1ba7.f516946","x":310,"y":520,"wires":[["8d8e860f.f7a2f8"]]},{"id":"937c939f.895a2","type":"mqtt in","z":"abe36278.d3a5e","name":"","topic":"discovery/client","qos":"2","datatype":"auto","broker":"3bd1ba7.f516946","x":280,"y":100,"wires":[["88b485e3.543498"]]},{"id":"26487cb6.3e6f94","type":"mqtt out","z":"abe36278.d3a5e","name":"","topic":"discovery/server","qos":"","retain":"","broker":"3bd1ba7.f516946","x":1060,"y":100,"wires":[]},{"id":"88b485e3.543498","type":"switch","z":"abe36278.d3a5e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"dht","vt":"str"},{"t":"cont","v":"bme","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":100,"wires":[["cbb275ab.d0f598"],["b7f3f00c.36853"]]},{"id":"b7f3f00c.36853","type":"function","z":"abe36278.d3a5e","name":"save bme in db","func":"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["cd0620d0.86d01"]]},{"id":"cbb275ab.d0f598","type":"function","z":"abe36278.d3a5e","name":"save dht in db","func":"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":80,"wires":[["1b21c8e3.7806f7"]]},{"id":"cd0620d0.86d01","type":"change","z":"abe36278.d3a5e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"bme","fromt":"str","to":"No2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":120,"wires":[["26487cb6.3e6f94"]]},{"id":"1b21c8e3.7806f7","type":"change","z":"abe36278.d3a5e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"dht","fromt":"str","to":"No1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":80,"wires":[["26487cb6.3e6f94"]]},{"id":"e5854684.4d7068","type":"comment","z":"abe36278.d3a5e","name":"Discovery of new sensors template","info":"","x":340,"y":60,"wires":[]},{"id":"67221d24.687c74","type":"sqlite","z":"9648297c.564688","mydb":"d2b7de10.e07f8","sqlquery":"fixed","sql":"INSERT INTO sensactref(name, types)\n    select 'DHT11' as name, 'TH' as types\n    union select 'BME280' as name, 'THP' as types\n    union select 'HCSR501' as name, 'M' as types\n    union select 'Button' as name, 'B' as types\n    union select 'TSL2561' as name, 'L' as types\n    union select 'HCSR04' as name, 'D' as types\n    union select 'CCS811' as name, 'CV' as types\n    union select 'MAX44009' as name, 'L' as types\n    union select 'MPU6050' as name, 'GA' as types\n    union select 'VEML6070' as name, 'U' as types\n    union select 'SI1145' as name, 'U' as types\n    union select 'MPR121' as name, 'E' as types\n    union select 'BMP280' as name, 'THPV' as types\n    union select 'TX20' as name, 'W' as types;","name":"fill reference.db table","x":360,"y":80,"wires":[["2f35eea0.f222e2"]]},{"id":"9aadd5db.cb9728","type":"comment","z":"9648297c.564688","name":"Use only for initial filling","info":"","x":360,"y":40,"wires":[]},{"id":"24ae0c5b.1e48a4","type":"comment","z":"9648297c.564688","name":"Aktoren fehlen noch - Namen und Typen überprüfen","info":"","x":370,"y":140,"wires":[]},{"id":"9ec291d1.7e545","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["67221d24.687c74"]]},{"id":"2f35eea0.f222e2","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":80,"wires":[]},{"id":"4fccbbc0.5d6064","type":"sqlite","z":"9648297c.564688","mydb":"d2b7de10.e07f8","sqlquery":"fixed","sql":"\nSELECT * FROM sensactref;","name":"select * from reference table","x":360,"y":220,"wires":[["8274c144.76294","52e12fe8.da81a"]]},{"id":"23205fb0.5628d","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["4fccbbc0.5d6064"]]},{"id":"8274c144.76294","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":220,"wires":[]},{"id":"5d0dc0ee.9fc8e","type":"sqlite","z":"9648297c.564688","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"INSERT INTO connections(IP, refid, category, types, curunit, curinterval, dispname, status, islogged, isnotifying) VALUES();","name":"exec msg.topic","x":780,"y":480,"wires":[["fec40cb8.a9607"]]},{"id":"c91e0e59.be0e2","type":"function","z":"9648297c.564688","name":"msg parts to topic","func":"var ip = msg.ip;\nvar ref = msg.refId;\nvar cat = msg.category;\nvar type = msg.types;\nvar curunit = msg.curunit;\nvar curinterval = msg.curinterval;\nvar dispname = msg.dispname;\nvar status = msg.refStatus;\nvar isLogged = msg.isLogged;\nvar isNotifying = msg.isNotifying;\n\nmsg.topic = \"INSERT INTO connections(IP, refid, category, types, curunit, curinterval, dispname, status, islogged, isnotifying) VALUES('\" + ip + \"', \" + ref + \", '\" + cat + \"', '\" + type + \"', '\" + curunit + \"', \" + curinterval + \", '\" + dispname + \"', '\" + status + \"', \" + isLogged + \", \" + isNotifying + \");\";\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["5d0dc0ee.9fc8e"]]},{"id":"72ed12f4.07468c","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["c66d6b03.92d128"]]},{"id":"fec40cb8.a9607","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":480,"wires":[]},{"id":"c66d6b03.92d128","type":"change","z":"9648297c.564688","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.1.3","tot":"str"},{"t":"set","p":"refId","pt":"msg","to":"100100201","tot":"str"},{"t":"set","p":"category","pt":"msg","to":"sensor","tot":"str"},{"t":"set","p":"types","pt":"msg","to":"DHT11","tot":"str"},{"t":"set","p":"curunit","pt":"msg","to":"CP","tot":"str"},{"t":"set","p":"curinterval","pt":"msg","to":"2000","tot":"num"},{"t":"set","p":"dispname","pt":"msg","to":"Badsensor","tot":"str"},{"t":"set","p":"refStatus","pt":"msg","to":"connected","tot":"str"},{"t":"set","p":"isLogged","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"isNotifying","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":480,"wires":[["c91e0e59.be0e2"]]},{"id":"53143280.cac79c","type":"sqlite","z":"9648297c.564688","mydb":"190e4995.b4a866","sqlquery":"fixed","sql":"SELECT * FROM temperatursensor;","name":"","x":340,"y":860,"wires":[["e9db7660.c61248"]]},{"id":"8a98dee6.ec28","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["53143280.cac79c"]]},{"id":"e9db7660.c61248","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":900,"wires":[]},{"id":"6ebde61c.8e4018","type":"sqlite","z":"9648297c.564688","mydb":"190e4995.b4a866","sqlquery":"fixed","sql":"INSERT INTO temperatursensor(datum, temperatur, luftfeuchtigkeit) values(datetime('now'),20.0, 48);","name":"","x":340,"y":920,"wires":[["e9db7660.c61248"]]},{"id":"8ffd1211.a7867","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":920,"wires":[["6ebde61c.8e4018"]]},{"id":"52e12fe8.da81a","type":"link out","z":"9648297c.564688","name":"OUT select * from reference table","links":[],"x":575,"y":260,"wires":[]},{"id":"71403f62.82e7d","type":"link in","z":"9648297c.564688","name":"IN select * from reference table","links":[],"x":175,"y":260,"wires":[["4fccbbc0.5d6064"]]},{"id":"8d8e860f.f7a2f8","type":"function","z":"abe36278.d3a5e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["c9af79f3.2fd1d8"]]},{"id":"e7dda356.73405","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["271ae820.9c0d68"]]},{"id":"ad7f61b0.24a68","type":"comment","z":"9648297c.564688","name":"Add row to db","info":"","x":150,"y":440,"wires":[]},{"id":"b53022ea.9154d","type":"comment","z":"9648297c.564688","name":"Read all from db","info":"","x":160,"y":540,"wires":[]},{"id":"271ae820.9c0d68","type":"template","z":"9648297c.564688","name":"select * from connections","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM connections;","output":"str","x":350,"y":580,"wires":[["a569cdbe.7cc5f"]]},{"id":"a569cdbe.7cc5f","type":"sqlite","z":"9648297c.564688","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"","name":"exec msg.topic","x":780,"y":580,"wires":[["7a713194.c5536","c07a7b68.1a65b8"]]},{"id":"7a713194.c5536","type":"link out","z":"9648297c.564688","name":"OUT select * from connections","links":[],"x":915,"y":620,"wires":[]},{"id":"100fd53d.97c78b","type":"link in","z":"9648297c.564688","name":"IN select * from connections","links":[],"x":175,"y":620,"wires":[["271ae820.9c0d68"]]},{"id":"adbf6b66.232bf8","type":"template","z":"9648297c.564688","name":"select * where refId matching","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM connections WHERE refid = {{payload}};","output":"str","x":360,"y":720,"wires":[["82fefd45.5c76e"]]},{"id":"9c828dcc.9de2a","type":"comment","z":"9648297c.564688","name":"Read specific from db","info":"","x":180,"y":680,"wires":[]},{"id":"82fefd45.5c76e","type":"sqlite","z":"9648297c.564688","mydb":"667529e2.c47648","sqlquery":"msg.topic","sql":"","name":"exec msg.topic","x":780,"y":720,"wires":[["f8bbdfbd.a488d","1a4cfcee.3fcf13"]]},{"id":"ae4c8f89.2505a","type":"inject","z":"9648297c.564688","name":"","topic":"","payload":"100100200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":720,"wires":[["adbf6b66.232bf8"]]},{"id":"b22f75e9.be4078","type":"link in","z":"9648297c.564688","name":"IN select * where refid matching","links":["c9af79f3.2fd1d8"],"x":175,"y":760,"wires":[["adbf6b66.232bf8"]]},{"id":"f8bbdfbd.a488d","type":"link out","z":"9648297c.564688","name":"","links":[],"x":915,"y":760,"wires":[]},{"id":"1a4cfcee.3fcf13","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":720,"wires":[]},{"id":"c07a7b68.1a65b8","type":"debug","z":"9648297c.564688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":580,"wires":[]},{"id":"c9af79f3.2fd1d8","type":"link out","z":"abe36278.d3a5e","name":"","links":["b22f75e9.be4078"],"x":595,"y":520,"wires":[]}]